@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sapFontFamily: 'Roboto', 'Segoe UI', Arial, sans-serif;
  --sapBackgroundColor: #eaecee;
}

body {
  background-color: var(--sapBackgroundColor);
  font-family: var(--sapFontFamily);
  color: #1d2d3e;
  max-width: 100%;
}

/* ================= MAIN LAYOUT ================= */
.main-section {
  display: grid;
  grid-template-columns: 1fr 2fr 2.8fr;
  gap: 12px;
  /* min-height: 90vh; */
}

.menu2 {
  color: #000;
}

/* ================= CARD BASE ================= */
.card {
  background-color: #fff;
  border-radius: 16px;
  /* display: flex;
  flex-direction: column; */
  font-weight: 600;
  overflow: hidden;
  color: #1d2d3e;
}

.sec-3 {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.card-content {
  flex: 1;
}

.user-name {
  font-size: 14px;
  color: #0064d9;
  font-weight: 600;
}

.dtp{
  font-size: 14px;
  color: #0064d9;
  font-weight: 600;
}

.divider{
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 8px;
}

ui5-button {
  border: none;
  font-size: 14px;
  font-weight: 600;
}

/* ================= BUTTON ================= */
[ui5-side-navigation] {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

/* [ui5-side-navigation-item]{
  background-color: #000;
} */

.statusboard-btn {
  border-radius: 8px;
  margin: 12px;
  font-size: 16px;
  color: #0070f2;
  text-align: center;
}

/* ================= SECTION 2  ================= */
.card-m {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  background-color: var(--sapBackgroundColor);
}

.grid-item {
  background-color: #fff;
  border-radius: 16px;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

/* spans */
.grid-item:nth-child(1) {
  grid-column: span 3;
  grid-row: 1;
}

.grid-item:nth-child(2) {
  grid-column: span 3;
  grid-row: 1;
}

.grid-item:nth-child(3),
.grid-item:nth-child(4),
.grid-item:nth-child(5) {
  grid-column: span 2;
}

.grid-item:nth-child(6),
.grid-item:nth-child(7) {
  grid-column: span 6;
}

.grid-item-3,
.grid-item-4,
.grid-item-5 {
  align-content: center;
  padding: 23px 0;
}

/* ================= USER PILL ================= */
.user-pill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 14px 12px;
  max-width: 100%;
  height: 56px;
  border-radius: 8px;
}

.user-text::part(button) {
  background-color: #30914c;
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-text::part(icon) {
  background: #ffffff;
  color: #30914c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 8px;
}

.user-text {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.user-text span {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

.user-text::part(content) {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

/* ================= TIME ================= */
.total-time {
  display: flex;
  justify-content: space-between;
  padding: 0 12px ;
  align-items: center;
}

.entry-time,
.weekly-time {
  display: flex;
  gap: 6px;
  text-align: left;
}

.time {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}

.hour {
  font-weight: 700;
}

.time-entry-request {
  color: #0064d9;
  border: 1px solid #bcc3ca;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  transition: all 0.5s;
  cursor: pointer;
}

.time-entry-request:hover {
  background-color: #eaecee;
}

ui5-icon.time-entry-request::part(root) {
  transform: scale(0.4);
}

.fob-watch {
  color: #a8b3bd;
}

ui5-icon.fob-watch::part(root) {
  transform: scale(1.2);
}

/* ================= ACTIVITY ================= */
.act-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.act-header-btn {
  display: flex;
  gap: 4px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.activity-details {
  display: flex;
  justify-content: space-between;
  margin: 8px 12px 0 12px;
}

.activity {
  font-size: 14px;
  font-weight: 400;
  color: #556b82;
  flex-shrink: 0;
}

.act-details {
  font-size: 14px;
  font-weight: 400;
  color: #1d2d3e;
  text-align: left;
  padding-left: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.act-time {
  font-size: 14px;
  padding-left: 4px;
  flex: 1;
  text-align: left;
}

.start-btn {
  border: 1px solid #bcc3ca;
}

.stop-btn {
  color: #aa0808;
  background-color: #ffc1df;
}

/* ================= TASK LIST ================= */
.overdue-task {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.time-overdue {
  color: #ba066c;
  background: #ffdbe7;
  font-size: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

ui5-icon.time-overdue::part(root) {
  transform: scale(0.6);
}

.overdue-num {
  color: #aa0808;
  font-size: 32px;
  font-weight: 700;
}

.overdue-text {
  font-size: 16px;
  font-weight: 400;
  color: #1d2d3e;
  padding-top: 8px;
}

.ongoing-task {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.time-ongoing {
  color: #a45d00;
  background: #fff3b8;
  font-size: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

ui5-icon.time-ongoing::part(root) {
  transform: scale(0.6);
}

.ongoing-num {
  color: #a45d00;
  font-size: 32px;
  font-weight: 700;
}

.ongoing-text {
  font-size: 16px;
  font-weight: 400;
  color: #1d2d3e;
  padding-top: 8px;
}

.upcoming-task {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.time-upcoming {
  color: #256f3a;
  background: #ebf5cb;
  font-size: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

ui5-icon.time-upcoming::part(root) {
  transform: scale(0.6);
}

.upcoming-num {
  color: #256f3a;
  font-size: 32px;
  font-weight: 700;
}

.upcoming-text {
  font-size: 16px;
  font-weight: 400;
  color: #1d2d3e;
  padding-top: 8px;
}

.task-card {
  padding: 0;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  height: 44px;
  border-bottom: 1px solid #ccc;
}

.task-header ui5-text {
  font-size: 16px;
  font-weight: 700;
  color: #1D2D3E;
  padding: 12px 16px;
}

/* .task-header ui5-input::part(ui5-icon) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
} */

.search {
  margin: 4px 16px;
}

.task-list {
  max-height: 220px;
  overflow-y: auto;
}

.task-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px 16px;
  border-bottom: 1px solid #f0f0f0;
}

.task-row.active {
  background: #fff;
}

.task-row.running {
  background: #ebf8ff;
}

.task-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff3b8;
}

.hint-btn {
  color: #0064d9;
  background: none;
}

.task-time-icon {
  color: #a45d00;
}

.task-content {
  flex: 1;
  text-align: left;
  min-width: 0;
}

.task-meta {
  font-size: 14px;
  color: #556b82;
  font-weight: 400;
}

.date {
  color: #1d2d3e;
}

.task-time {
  font-size: 14px;
  font-weight: 400;
  color: #1d2d3e;
  display: flex;
  gap: 6px;
  white-space: nowrap;
}

.task-time span {
  color: #556b82;
}

.task-sub-header::part(root) {
  font-size: 14px;
  font-weight: 400 !important;
  color: #1d2d3e;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.task-content {
  flex: 1;
  min-width: 0;
  text-align: left;
}

.task-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.task-content li {
  width: 100%;
}

.truncate-text {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-header {
  color: #1d2d3e;
  font-size: 14px;
  font-weight: 400;
}

.title-para {
  color: #556b82;
  font-size: 13px;
}

.title-para span {
  color: #1d2d3e;
}

.blue {
  background: #d1efff;
}

.blue-icon {
  color: #0057d2;
}

.red {
  background: #ffdbe7;
}

.red-icon {
  color: #ba066c;
}

/* ================= SECTION 3 ================= */
.card3-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px 3px 16px;
}

.card3-header ui5-button {
  border: 1px solid #ccc;
}

.task-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 16px 12px;
}

.deta-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.truncate::part(root) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-section {
  padding: 16px;
}

.truncate{
  font-size: 14px;
  font-weight: 400;
  color: #1D2D3E;
}

.editor {
  padding-bottom: 6px;
}

.info-item ui5-text{
  font-size: 14px;
  font-weight: 400;
  color: #1D2D3E;
}

/* ================= TEXTAREA ================= */
::ng-deep .ck-editor__editable_inline {
  min-height: 520px;
  padding: 120px 20px 20px 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: justify;
}

::ng-deep .ck-editor__top {
  margin-bottom: 0;
}

.save-btn {
  padding: 9px 16px;
  display: flex;
  justify-content: flex-end;
}










/* new table */
.task-table-header{
   display: grid;
  grid-template-columns:  100px 150px 170px 120px;
  gap: 30px;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #f0f0f0;
}

.task-table-header ui5-text{
  font-size: 18px;
}

.user-list{
  display: grid;
  grid-template-columns:  100px 200px 200px;
  gap: 30px;
  align-items: center;
}

.user-list ui5-text{
  font-size: 16px;
  font-weight: 400;
}

.task-header ui5-button{
  margin: 12px 30px;
  border: 1px solid #ccc;
}


/* dialog */
/* .dialog-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
} */

.name,
.cus-id{
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.name{
  padding-bottom: 12px;
}

.switch-btn{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}


.dialog-btn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  padding: 12px 0 0 12px;
}

.cancel-btn{
  border: 1px solid #ccc;
}

.active-icon{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

ui5-label {
  pointer-events: none;
}



/* responsive */
@media (max-width: 1400px) {
  body {
    max-width: 100%;
  }

  ui5-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
  }

  [ui5-side-navigation] {
    position: sticky;
    top: 60px;
    align-self: start;
    z-index: 10;
    height: calc(100vh - 72px);
  }

  .main-section {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
  }

  .user-pill {
    max-width: 212px;
    height: 46px;
  }

  .user-text::part(icon) {
    width: 20px;
    height: 20px;
  }

  .user-text {
    font-size: 16px;
  }

  .total-time {
    justify-content: space-between;
    gap: 6px;
    padding: 0 12px;
  }

  .entry-time,
  .weekly-time {
    display: flex;
    gap: 6px;
    text-align: left;
  }

  .time {
    font-size: 13px;
    font-weight: 400;
  }

  ui5-icon.fob-watch::part(root) {
    transform: scale(1.1);
  }

  .activity {
    font-size: 13px;
  }

  .act-details {
    font-size: 13px;
  }

  .act-time {
    font-size: 13px;
  }

  .start-btn::part(button),
  .stop-btn::part(button),
  .refresh-icon ui5-button::part(button) {
    width: 50px;
    min-width: 50px;
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  body {
    max-width: 100%;
  }
  ui5-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
  }

  [ui5-side-navigation] {
    position: sticky;
    top: 50px;
    align-self: start;
    z-index: 10;
    height: calc(100vh - 72px);
  }

  .main-section {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 12px;
  }

  .grid-item:nth-child(2) {
    padding-bottom: 12px;
  }

  .task-list {
    max-height: 150px;
  }

  .sec-2 {
    grid-column: 2;
    grid-row: 1;
    overflow-y: auto;
  }

  .sec-3 {
    grid-column: 2;
    grid-row: 2;
    overflow-y: auto;
  }

  .user-pill {
    padding: 0 12px;
    max-width: 100%;
    height: 46px;
  }

  .user-text::part(icon) {
    width: 20px;
    height: 20px;
  }

  .total-time {
    justify-content: space-around;
    gap: 6px;
    padding: 0 12px;
  }

  .user-text {
    width: 100%;
  }

  .user-text::part(button) {
    justify-content: flex-start;
    text-align: left;
  }

  .user-text::part(content) {
    justify-content: flex-start;
    text-align: left;
  }

  .start-btn::part(button),
  .stop-btn::part(button),
  .refresh-icon ui5-button::part(button) {
    width: 60px;
    min-width: 60px;
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  body {
    max-width: 100%;
  }

  ui5-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
  }

  [ui5-side-navigation] {
    position: sticky;
    top: 50px;
    align-self: start;
    z-index: 10;
    height: calc(100vh - 72px);
  }
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
  }

  ui5-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
  }

  [ui5-side-navigation] {
    position: sticky;
    top: 50px;
    align-self: start;
    z-index: 10;
    height: calc(100vh - 72px);
  }
}
