<body>
  <ui5-bar design="Header">
    <!-- Start content -->
    <ui5-button
      icon="menu2"
      tooltip="Menu"
      class="menu2"
      design="Transparent"
      slot="startContent"
    ></ui5-button>
    <ui5-avatar slot="startContent" shape="Square">
      <img src="assets/logo.svg" />
    </ui5-avatar>
    <ui5-label id="basic-label" style="color: #1d2d3e; font-size: 20px; font-weight: 700"
      >Machineboard</ui5-label
    >

    <!-- End content -->
    <div slot="endContent" style="display: flex; align-items: center; gap: 10px">
      <!-- Date picker + text -->
      <div style="display: flex; align-items: center; gap: 5px">
        <ui5-icon class="dtp" name="date-time"></ui5-icon>
        <ui5-text class="dtp">{{ currentTime }}</ui5-text>
        <div class="divider"></div>
        <ui5-text class="user-name">Elias Abram</ui5-text>
      </div>

      <!-- Logout button -->
      <ui5-button tooltip="Logout">Logout</ui5-button>

      <!-- Language selector -->
      <ui5-button #btnOpenBasic end-icon="slim-arrow-down" (click)="openMenu()"> EN </ui5-button>

      <ui5-menu #menuBasic header-text="Basic Menu with Items">
        <ui5-menu-item text="GE"></ui5-menu-item>
        <ui5-menu-item text="BG"></ui5-menu-item>
      </ui5-menu>
    </div>
  </ui5-bar>

  <!-- main -->
  <main style="padding: 12px">
    <div class="main-section">
      <ui5-side-navigation>
        <ui5-side-navigation-item
          class="statusboard-btn"
          text="Statusboard"
          icon=""
        ></ui5-side-navigation-item>
        <ui5-side-navigation-item
          slot="fixedItems"
          text="Terminal 1"
          expanded
          icon="image-viewer"
          unselectable
        >
        </ui5-side-navigation-item>
      </ui5-side-navigation>
      <section class="card card-m">
        <ui5-card class="grid-item grid-item-1">
          <div class="user-pill">
            <ui5-button class="user-text" icon="play">
              Md. Johel Ahmed Nishat <br />
              <span>Programming</span>
            </ui5-button>
          </div>
          <div class="total-time">
            <div class="entry-time">
              <ui5-icon class="time-entry-request" name="time-entry-request"></ui5-icon>
              <div class="time">
                <ui5-text class="hours-title">Total Hours:</ui5-text>
                <ui5-text class="hour">05:20:00</ui5-text>
              </div>
            </div>
            <div class="weekly-time">
              <ui5-icon disabled class="fob-watch" name="fob-watch"></ui5-icon>
              <div class="time">
                <ui5-text class="hours-title">Weekly Time:</ui5-text>
                <ui5-text class="hour">24:12:21</ui5-text>
              </div>
            </div>
          </div>
        </ui5-card>
        <ui5-card class="grid-item grid-item-2">
          <div class="act-header">
            <div class="user">Activity</div>
            <div class="act-header-btn">
              <ui5-button icon="play" class="start-btn" end-icon="slim-arrow-down"
                >Start</ui5-button
              >
              <ui5-menu opener="menuBtn" id="myMenu">
                <ui5-menu-item text="Administration"></ui5-menu-item>
                <ui5-menu-item text="Analysis"></ui5-menu-item>
                <ui5-menu-item text="Documentation"></ui5-menu-item>
                <ui5-menu-item text="Debugging"></ui5-menu-item>
                <ui5-menu-item text="Meeting"></ui5-menu-item>
                <ui5-menu-item text="No Task"></ui5-menu-item>
                <ui5-menu-item text="Support"></ui5-menu-item>
              </ui5-menu>
              <ui5-button icon="stop" class="stop-btn">Stop</ui5-button>
              <div class="refresh-icon">
                <ui5-button icon="refresh"></ui5-button>
              </div>
            </div>
          </div>
          <ui5-menu-separator></ui5-menu-separator>
          <div class="activity-details">
            <ui5-text class="activity">Activity:</ui5-text>
            <ui5-text class="act-details"
              >19262 - Update Client record in CRM to Live Server for AGVS</ui5-text
            >
          </div>
          <div class="activity-details">
            <ui5-text class="activity">Elapsed Time:</ui5-text>
            <ui5-text class="act-time">02:24:34</ui5-text>
          </div>
        </ui5-card>

        <ui5-card class="grid-item grid-item-3">
          <div class="overdue-task">
            <ui5-icon class="time-overdue" name="past"></ui5-icon>
            <ui5-text class="overdue-num">13</ui5-text>
          </div>
          <ui5-text class="overdue-text">Today & Overdue Task</ui5-text>
        </ui5-card>
        <ui5-card class="grid-item grid-item-4">
          <div class="ongoing-task">
            <ui5-icon class="time-ongoing" name="pending"></ui5-icon>
            <ui5-text class="ongoing-num">24</ui5-text>
          </div>
          <ui5-text class="ongoing-text">On going Task</ui5-text>
        </ui5-card>
        <ui5-card class="grid-item grid-item-5">
          <div class="upcoming-task">
            <ui5-icon class="time-upcoming" name="future"></ui5-icon>
            <ui5-text class="upcoming-num">12</ui5-text>
          </div>
          <ui5-text class="upcoming-text">Upcoming Task</ui5-text>
        </ui5-card>

        <ui5-card class="grid-item grid-item-6">
          <ui5-card class="task-card">
            <div class="task-header">
              <ui5-text>Tools ({{ machineList().length }})</ui5-text>
              <ui5-button (click)="openDialog()">New</ui5-button>
            </div>

            <div class="task-table-header">
              <ui5-text class="header-text">Active</ui5-text>
              <ui5-text class="header-text">Name</ui5-text>
              <ui5-text class="header-text">Custom ID</ui5-text>
              <ui5-text class="header-text">Action</ui5-text>
            </div>

            <div class="task-list">
              <div class="task-row active" *ngFor="let machine of firstTableMachines()">
                <div class="task-content">
                  <ui5-title wrapping-type="None">
                    <ul>
                      <li class="user-list">
                        <ui5-icon
                          [name]="machine.is_active ? 'accept' : 'decline'"
                          style="margin-left: 10px; width: 20px; height: 20px; color: #1d2d3e"
                        >
                        </ui5-icon>
                        <ui5-text class="title-header truncate-text">{{ machine.name }}</ui5-text>
                        <ui5-text class="title-header truncate-text">{{
                          machine.custom_id
                        }}</ui5-text>
                      </li>
                    </ul>
                  </ui5-title>
                </div>

                <ui5-button
                  icon="edit"
                  (click)="openDialog(machine)"
                  class="start-btn"
                ></ui5-button>
                <ui5-button
                  icon="delete"
                  (click)="openDeleteDialog(machine)"
                  class="start-btn"
                ></ui5-button>
              </div>
            </div>

            <!-- Dialog -->
            <ui5-dialog #newMachineDialog header-text="Add New Tools">
              <form
                (ngSubmit)="onSubmit(createOrUpdateForm)"
                #createOrUpdateForm="ngForm"
                class="dialog-content"
                style="position: relative; min-height: auto"
              >
                <!-- Overlay spinner -->
                <div
                  *ngIf="isBusy"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.6);
                    z-index: 1000;
                  "
                >
                  <ui5-busy-indicator
                    active="true"
                    style="width: 3rem; height: 3rem"
                  ></ui5-busy-indicator>
                </div>

                <div class="switch-btn">
                  <div class="active-icon">
                    <ui5-label show-colon>Active</ui5-label>
                    <ui5-switch
                      [checked]="newMachine.is_active"
                      (change)="onSwitchChange($event)"
                    ></ui5-switch>
                  </div>

                  <div class="active-icon">
                    <ui5-label show-colon>Is Imported</ui5-label>
                    <ui5-switch
                      [checked]="newMachine.is_imported_from_erp"
                      (change)="onImportedChange($event)"
                    ></ui5-switch>
                  </div>
                </div>

                <div class="name">
                  <ui5-label show-colon>Tools Name</ui5-label>
                  <ui5-input [value]="newMachine.name" (change)="onNameInput($event)"></ui5-input>
                </div>

                <div class="cus-id">
                  <ui5-label show-colon>Custom ID</ui5-label>
                  <ui5-input
                    [value]="newMachine.custom_id"
                    (change)="onCustomIdInput($event)"
                  ></ui5-input>
                </div>

                <div class="dialog-btn" style="display: flex; gap: 10px; align-items: center">
                  <ui5-button
                    type="Submit"
                    design="Emphasized"
                    [disabled]="isBusy"
                    (click)="onSave()"
                  >
                    Save
                  </ui5-button>
                  <ui5-button type="Button" (click)="closeDialog()">Cancel</ui5-button>
                </div>
              </form>
            </ui5-dialog>

            <!-- delete dialog -->
            <ui5-dialog #deleteConfirmDialog header-text="Confirm Delete">
              <div style="padding: 1rem">
                <ui5-text>Are you sure you want to delete this tool?</ui5-text>
              </div>

              <div slot="footer" style="display: flex; justify-content: flex-end; gap: 10px">
                <ui5-button class="no-btn" design="Transparent" (click)="closeDeleteDialog()"
                  >No</ui5-button
                >
                <ui5-button design="Negative" (click)="confirmDelete()">Yes</ui5-button>
              </div>
            </ui5-dialog>
          </ui5-card>

          <ui5-menu-separator></ui5-menu-separator>
        </ui5-card>

        <!--  -->
        <!-- 
        <ui5-card class="grid-item grid-item-6">
          <ui5-card class="task-card">
            <div class="task-header">
              <ui5-text>On Going Task (25)</ui5-text>
              <ui5-input
                placeholder="Search"
                class="search"
                [value]="searchText()"
                (input)="onSearchInput($event)"
              >
              </ui5-input>
            </div>
            <div class="task-list">
              <div class="task-row active" *ngFor="let machine of firstTableMachines()">
                <div class="task-icon">
                  <ui5-icon class="task-time-icon" name="pending"></ui5-icon>
                </div>

                <div class="task-content">
                  <ui5-title wrapping-type="None"
                    ><ul>
                      <li>
                        <ui5-text class="title-header truncate-text">{{ machine.name }}</ui5-text>
                      </li>
                      <li>
                        <ui5-text class="title-para">
                          End Date: <span>{{ getFormattedDate(machine.start) }}</span> Elapsed Time:
                          <span>{{ getElapsedTime(machine.start) }}</span>
                        </ui5-text>
                      </li>
                    </ul>
                  </ui5-title>
                </div>

                <ui5-button icon="play" class="start-btn"> Start </ui5-button>
                <ui5-title wrapping-type="None"
                  ><ul>
                    <li>
                      <ui5-text class="title-para">
                        <span>{{ getStartTime(machine.start) }}</span>
                      </ui5-text>
                    </li>
                  </ul>
                </ui5-title>
                <ui5-button icon="hint" class="hint-btn"></ui5-button>
              </div>
            </div>
          </ui5-card>
          <ui5-menu-separator></ui5-menu-separator>
        </ui5-card> -->

        <ui5-card class="grid-item grid-item-7">
          <ui5-card class="task-card">
            <div class="task-header">
              <ui5-text>Today & Overdue Task (25)</ui5-text>
              <ui5-input
                placeholder="Search"
                class="search"
                [value]="searchText()"
                (input)="onSearchInput($event)"
              >
                <!-- <ui5-icon id="valueHelpIcon" slot="icon" name="search"></ui5-icon> -->
              </ui5-input>
            </div>

            <div class="task-list">
              <div class="task-row active" *ngFor="let machine of secondTableMachines()">
                <div class="task-icon blue">
                  <ui5-icon class="blue-icon" name="time-account"></ui5-icon>
                </div>

                <div class="task-content">
                  <ui5-title wrapping-type="None">
                    <ul>
                      <li>
                        <ui5-text class="title-header truncate-text">{{ machine.name }}</ui5-text>
                      </li>
                      <li>
                        <ui5-text class="title-para">
                          End Date: <span>{{ getFormattedDate(machine.start) }}</span> Elapsed Time:
                          <span>{{ getElapsedTime(machine.start) }}</span>
                        </ui5-text>
                      </li>
                    </ul></ui5-title
                  >
                </div>

                <ui5-button icon="play" class="start-btn"> Start </ui5-button>
                <ui5-title wrapping-type="None"
                  ><ul>
                    <li>
                      <ui5-text class="title-para">
                        <span>{{ getStartTime(machine.start) }}</span>
                      </ui5-text>
                    </li>
                  </ul>
                </ui5-title>
                <ui5-button icon="hint" class="hint-btn"></ui5-button>
              </div>
            </div>
          </ui5-card>
          <ui5-menu-separator></ui5-menu-separator>
        </ui5-card>
      </section>

      <!-- section 3 -->
      <section class="card sec-3">
        <ui5-card class="task-details-card">
          <!-- HEADER -->
          <div class="card3-header">
            <ui5-title level="H5">Task Details</ui5-title>
            <ui5-button design="Transparent" icon="information"> Open Description </ui5-button>
          </div>

          <ui5-menu-separator></ui5-menu-separator>

          <!-- INFO GRID -->
          <div class="task-info-grid">
            <div class="info-item">
              <ui5-label>Operation</ui5-label>
              <ui5-text class="truncate">
                1668 - Shopfloorboard Design Webinterface | Shopfloor V12.0 | AGVS Aluminium Werke
                GmbH Villingen
              </ui5-text>
            </div>

            <div class="info-item process">
              <ui5-label>Progress:</ui5-label>
              <ui5-slider
                [value]="20"
                [min]="0"
                [max]="100"
                [step]="5"
                show-tickmarks
                label-interval="2"
              ></ui5-slider>
            </div>
          </div>
          <div class="deta-info">
            <div class="info-item">
              <ui5-label>Customer Name</ui5-label>
              <ui5-text>Theodor Scherer</ui5-text>
            </div>

            <div class="info-item">
              <ui5-label>Prod Order</ui5-label>
              <ui5-text>PR-0001</ui5-text>
            </div>

            <div class="info-item">
              <ui5-label>Module</ui5-label>
              <ui5-text>Planvisu</ui5-text>
            </div>

            <div class="info-item">
              <ui5-label>Start Date</ui5-label>
              <ui5-text>21.09.2025</ui5-text>
            </div>

            <div class="info-item">
              <ui5-label>End Date</ui5-label>
              <ui5-text>22.09.2025</ui5-text>
            </div>
          </div>

          <!-- DESCRIPTION -->
          <div class="description-section">
            <ui5-label>Description:</ui5-label>
            <ckeditor *ngIf="Editor" [editor]="Editor"> </ckeditor>
            <!-- [(ngModel)]="data" -->
          </div>
          <ui5-menu-separator></ui5-menu-separator>
          <!-- FOOTER -->
          <footer class="save-btn">
            <ui5-button design="Emphasized">Save</ui5-button>
          </footer>
        </ui5-card>
      </section>
    </div>
  </main>
</body>
